streamlit
langchain
langchain-community
langchain-huggingface
langchain-groq
sentence-transformers
chromadb==0.5.5
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
unstructured
pypdf
python-docx
openpyxl
xlrd




